{% extends 'base.html' %}
{% block resources %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock resources %}
{% block title %}Damage Distribution{% endblock title %}

{% block content %}
  <form method="get">
    <div>
      <label for="attacker">Attacking Unit:</label>
      <input type="text" id="attacker_name" form="" readonly value="{{attacker['name']}}">
      </select>
      
    </div>
    <div>
      <label for="defender">Defending Unit:</label>
      <select name="defender" id="defender" required>
        {% for unit in units %}
          <optgroup label="{{unit['name']}}">
            {% for model in models[unit['id']] %}
              <option value="{{model['id']}}" {% if model['id'] == (defender | int) %}selected{% endif %}>{{model['name']}}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
    <fieldset>
      {% for model in attacker_models.values() %}

        <label for="{{model['name']}}">{{model['name']}}</label>
        <fieldset id="{{model['name']}}">
          {% for weapon in model['weapons'] %}
            <div>
              <input type="checkbox" name="selected_weapons" id="wpn_{{weapon['id']}}" value="{{weapon['id']}}" {% if selected_weapons[weapon['id']] %}checked{% endif %}>
              <label for="wpn_{{weapon['id']}}">{{weapon['quantity']}}x {{weapon['name']}}</label>
            </div>
          {% endfor %}
        </fieldset>
        
      {% endfor %}
    </fieldset>
    <input type="submit" value="Generate Distribution" />
  </form>

  <canvas id="damage_plot" width="960" height="600"></canvas>
  <a href="{{url_for('unit.index')}}">Back</a>
{% endblock content %}

{% block script %}
  <script>
    function constructChartData(incomingData) {
      var preparedData = {
        labels: [], // possible outcomes
        values: [], // probability of each outcome
        cumulative: [], // probability of getting each outcome or greater
      };

      var sum = 100;
      for (let i = 0; i < incomingData.length; i++) {
        preparedData['labels'].push(i);
        preparedData['values'].push(incomingData[i]);
        preparedData['cumulative'].push(sum)
        sum -= incomingData[i]
      }

      return {
        labels: preparedData.labels,
        datasets: [{
          label: '% probability of result = #',
          type: 'bar',
          data: preparedData.values,
          borderColor: 'rgba(75, 192, 192, 1)',
          fill: false,
          yAxisID: 'exact'
        }, {
          label: '% probability of result >= #',
          type: 'line',
          data: preparedData.cumulative,
          borderColor: 'rgba(255, 99, 132, 1)',
          fill: false,
          yAxisID: 'cumulative'
        }]
      };
    }

    function configurePlotOptions() {
      return {
        responsive: false,
        scales: {
          x: {
            title: {
              display: true,
              text: "Roll Result",
            },
          },
          exact: {
            // y-axis for result probability
            title: {
              display: true,
              text: "% Probability of exactly # damage",
            },
            position: "left",
            type: "linear",
            min: 0,
          },
          cumulative: {
            // y-axis for cumulative probability
            title: {
              display: true,
              text: "% Probability of at least # damage",
            },
            position: "right",
            type: "linear",
            min: 0,
            max: 100,
            grid: {
              drawOnChartArea: false, // only want the grid lines for one axis to show up
            },
          },
        },
      };
    }

    var ctx = document.getElementById("damage_plot").getContext("2d");
    var newPlot = new Chart(ctx, {
      data: constructChartData({{distribution}}),
      options: configurePlotOptions(),
    });
  </script>
{% endblock script %}
