{% extends 'base.html' %}
{% block title %}New Model{% endblock title %}

{% block content %}
  <h2>New Model</h2>
  <form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="movement">M</label>
    <input type="number" name="movement" id="movement" min="0" value="0">
    <br>
    <label for="toughness">T</label>
    <input type="number" name="toughness" id="toughness" min="1" value="1">
    <br>
    <label for="save">Sv</label>
    <input type="number" name="save" id="save" min="2" max="6" value="4">
    <!-- TODO: include control for optionally setting invuln save -->
    <br>
    <label for="health">W</label>
    <input type="number" name="health" id="health" min="1" value="1">

    <br>
    <input type="submit" value="Cancel" formaction="{{url_for('unit.modify', unit_id=unit_id)}}" formmethod="get">
    <input type="submit" value="Create">
  </form>
{% endblock content %}
