{% extends 'base.html' %}
{% block title %}New Unit{% endblock %}

{% block content %}
  <h2>New Unit</h2>
  <form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>

    <!-- TODO: control for assigning abilities -->
    <!-- TODO: Control for assigning keywords -->

    <input type="submit" value="Cancel" formaction="{{url_for('unit.index')}}" formmethod="get">
    <input type="submit" value="Create">
    
  </form>
{% endblock content %}

{% block script %}{% endblock script %}