{% extends "base.html" %}
{% block title %}Unit List{% endblock title %}

{% block content %}
  <table>
    <thead>
      <!-- TODO: Remove column label? -->
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Damage</th>
        <th scope="colgroup">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for unit in units %}
        <tr id="tr_{{unit['id']}}">
          <td>{{ unit['name'] }}</td>
          <td>
            <a href="{{url_for('distribution.plot', attacker_id=unit['id'])}}">Plot</a>
          </td>
          <td>
            <a href="{{url_for('unit.modify', unit_id=unit['id'])}}">Modify</a>
          </td>
          <td>
            <a href="{{url_for('unit.delete', unit_id=unit['id'])}}">Delete</a>
          </td>
        </tr>
        <br>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a href="{{url_for('unit.create')}}">Create</a>
{% endblock content %}


{% block script %}{% endblock script %}
