{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Units{% endblock %}</h1>
{% endblock %}



{% block content %}
    <!-- list units -->
    <div id="unit_listbox" tabindex="0" role="listbox" aria-labelledby="unit_listbox" aria-required="true" class>
        {% for unit in units %}
            <!-- TODO: replace span with styling to indicate option selection (change li to div?)-->
            <!-- TODO: change styling for selection when listbox unfocused (as suggested in https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/listbox_role#best_practices) -->
        {% endfor %}
    </div>

    <!-- TODO: disable edit/delete buttons until a unit is selected -->
    <!-- TODO: add classes for styling these links/buttons -->
    <!-- TODO: convert to button elements and use javascript? (editing and deleting units requires dynamically collecting unit id?) -->
    <a id="link_createUnit" href="{{ url_for('units.create') }}">New Unit</a>
    <div id="link_editUnit" onclick="btnCmd_updateUnit()">Edit Unit</div>
    <a id="link_deleteUnit" >Delete Unit</a>
{% endblock %}

{% block script %}
    <script>
        // TODO: function for creating new unit? (navigating to page)
        // TODO: function for navigating to unit edit page?
        // TODO: function for deleting unit

        
        // Refresh listbox
        function refreshListBox() {
            list = fetchUnits()
            .then(list => {
                for (let i = 0; i < list.length; i++) {
                    // TODO: add onClick handler to the div, style differently when selected using css classes (and aria roles for accessibility?)
                        // On click: deselect all other divs in the list, select clicked div
                    newItem = `<div id=${list[i].id} role="option" onclick="selectUnit(${list[i].id})"> ${list[i].name} - ${list[i].cost} </div>`
                    
                    document.getElementById('unit_listbox').innerHTML += newItem
                }
            })
        }

        // Used as onclick event handler for units in the list
        function selectUnit(id) {
            // Deselect other units
            currDivs = document.getElementsByClassName('selected')
            for (let i = 0; i < currDivs.length; i++) {
                currDivs[i].classList.remove('selected')
            }

            // Select clicked unit
            document.getElementById(id).classList.add('selected')
        }

        // send http request for unit list JSON object
        function fetchUnits() {
            unitList = fetch({{ url_for('units.fetch')|tojson }})
                .then(response => response.json())
                .then(data => {return data})

            return unitList;
        }

        function btnCmd_createUnit() {
            window.location = "{{ url_for('units.create') }}"
        }

        function btnCmd_updateUnit() {
            // TODO: retrieve id for selected unit
            unit = document.querySelector(".selected")
            if (unit == null) {return}

            id = unit.id
            window.location = {{ url_for('units.list') }} + "/" + id;
            // TODO: open unit update page for the retrieved id
        }

        refreshListBox()

    </script>
{% endblock %}