{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} {{ unit['name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ unit['name'] }}" required>
        <br>
        <label for="cost">Points Cost</label>
        <input type="number" min="0" max="9999" value="{{ unit['cost'] }}" name="cost" id="cost" required>
        <br>
        <!-- model list -->
        <div class="flex-container">
            <div id="model_listbox" tabindex="0" role="listbox" aria-labelledby="model_listbox" aria-required="true" class="flex-item">
                <!-- TODO: change styling for selection when list is unfocused (as suggested in https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/listbox_role#best_practices) -->
            </div>
            <div class="flex-item">
                <a id="link_createModel" href="{{ url_for('models.create', unitId=unit['id']) }}">New Model</a>
                <div id="link_editModel" onclick="btnCmd_updateModel()">Edit Model</div>
                <div id="link_deleteModel" onclick="btnCmd_deleteModel()">Delete Model</div>
            </div>
        </div>
        <input type="submit" value="Save">
        <a id="link_cancelUpdateUnit" href="{{ url_for('units.list') }}" >Cancel</a>
    </form>
{% endblock %}

{% block script %}
    <script>

        // refresh list
        function refreshModelList() {
            list = fetchModels()
            .then(list => {
                for (let i = 0; i < list.length; i++) {
                    newItem = `<div id=${list[i].id} role="option" onclick="selectModel(${list[i].id})"> ${list[i].name} X ${list[i].quantity} - T:${list[i].toughness} Sv:${list[i].save} W:${list[i].health} Inv:${list[i].invuln} isLeader:${list[i].isLeader} enabled:${list[i].enabled} </div>`
                    document.getElementById('unit_listbox').innerHTML += newItem
                }
            })
        }

        // Used as onclick event handler for models in the list
        function selectModel(modelId) {

        }

        // send http request for model list JSON object
        function fetchModels() {
            
        }

        function btnCmd_createModel() {

        }

        function btnCmd_updateModel() {

        }

        function btnCmd_deleteModel() {

        }

        refreshModelList()

    </script>
{% endblock %}