{% extends 'tests/generic.html' %}

{% block header %}{% block title %}Add Weapon{% endblock %}{% endblock %}


{% block content %} 
    <form method="post">
        <label for="wpn_name">Name</label>
        <input type="text" id="wpn_name" name="name" required><br>
        <label for="attacks">A</label>
        <input type="text" id="attacks" name="attacks" required value="1" pattern="^\d+(?i:D\d+)?(\+\d+)?$|^(?i:D\d+)(\+\d+)?$" maxlength=8><br>
        <label for="skill">WS/BS</label>
        <input type="number" id="skill" name="skill" required value=4 min=1 max=6 step=1><br>
        <label for="strength">S</label>
        <input type="number" id="strength" name="strength" required value=1 min=1 step=1><br>
        <label for="ap">AP</label>
        <input type="number" id="ap" name="ap" required value=0 min=0 step=1><br>
        <label for="damage">D</label>
        <input type="text" id="damage" name="damage" required value="1" pattern="^\d+(?i:D\d+)?(\+\d+)?$|^(?i:D\d+)(\+\d+)?$" maxlength=8><br>
        <input type="submit" value="Add">
    </form>
{% endblock %}

{% block script %}

{% endblock %}

