{% extends 'tests/generic.html' %}

{% block title %}Plot{% endblock %}
{% block header %}Plot{% endblock %}

{% block meta %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <canvas id="resultPlot1" width="900" height="400"></canvas>
    <canvas id="resultPlot2" width="900" height="400"></canvas>
{% endblock %}

{% block script %}
    <script>
        // STEP 1: sort labels in ascending numerical order, and separate labels from data
        function separateLabelsAndData(rawData) {     // {[rollResult: number]: number} -> {labels: string[], data: number[]}

            return Object.keys(rawData)
                .sort((a, b) => parseInt(a) - parseInt(b))  // sort keys in ascending numerical order
                .reduce((obj, key) => {
                    obj.labels.push(key);
                    obj.values.push(rawData[key]);
                    return obj;
                },
                {labels: [], values: [], cumulative: []});   // for each key in the sorted labels, push the label and corresponding value into the new object
        }

        // STEP 2: normalize and rescale data to percentages
        function normalizeToPercentages(processedData) {
            const sum = processedData.values.reduce((currSum, next) => currSum + next);
            if (sum === 0) return processedData;   // avoid division by zero
            processedData.values.forEach((value, index) => {
                processedData.values[index] = (value * (100 / sum));   // convert each value to percentage
            });
            return processedData;
        }

        // STEP 3: calculate cumulative probabilities (for line plot)
        function calculateCumulativeProbabilities(normalizedData) {
            normalizedData.values.reduceRight((sum, value, index) => {
                sum += value;
                normalizedData.cumulative[index] = sum;   // cumulative probability of result >= current label
                return sum;
            }, 0);
            return normalizedData;
        }

        // STEP 4: construct data objects for Chart.js
        function constructChartData(finalData) {
            return {
                labels: finalData.labels,
                datasets: [{
                    label: 'probability of result = #',
                    type: 'bar',
                    data: finalData.values,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    fill: false,
                    yAxisID: 'probability'
                },
                {
                    label: 'probability of result >= #',
                    type: 'line',
                    data: finalData.cumulative,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    fill: false,
                    yAxisID: 'cumulative'
                }]
            };
        }

        // STEP 5: configure plot options (axes, labels, etc.)
        function configurePlotOptions() {
            return {
                responsive: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Roll Result'
                        }
                    },
                    probability: { // y-axis for result probability
                        title: {
                            display: true,
                            text: 'Probability (%)'
                        },
                        position: 'left',
                        type: 'linear',
                        min: 0
                    },
                    cumulative: { // y-axis for cumulative probability
                        title: {
                            display: true,
                            text: 'Probability of at least this result (%)'
                        },
                        position: 'right',
                        type: 'linear',
                        min: 0,
                        max: 100,
                        grid: {
                            drawOnChartArea: false  // only want the grid lines for one axis to show up
                        }
                    }
                }
            };
        }

        // STEP 6: generate plots
        function generatePlot(canvasId, rawData) {
            var ctx = document.getElementById(canvasId).getContext('2d');
            var newPlot = new Chart(ctx, {
                data: constructChartData(
                            calculateCumulativeProbabilities(
                                normalizeToPercentages(
                                    separateLabelsAndData(rawData)
                                )
                            )
                        ),
                options: configurePlotOptions()
            });
        }

        // Sample data for testing plots
        const data1 = {
            '1': 1/6,
            '2': 1/6,
            '3': 1/6,
            '4': 1/6,
            '5': 1/6,
            '6': 1/6,
            '7': 0,
            '8': 0
        };

        const data2 = {
            '3': 0.46,
            '4': 1.39,
            '5': 2.78,
            '6': 4.63,
            '7': 6.94,
            '8': 9.72,
            '9': 11.57,
            '10': 12.50,
            '11': 12.50,
            '12': 11.57,
            '13': 9.72,
            '14': 6.94,
            '15': 4.63,
            '16': 2.78,
            '17': 1.39,
            '18': 0.46
        };

        generatePlot('resultPlot1', data1);
        generatePlot('resultPlot2', data2);
        
    </script>
{% endblock %}
