{% extends 'tests/generic.html' %}

{% block title %}Weapon Statline{% endblock %}
{% block header %}Weapon Statline{% endblock %}

{% block meta %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fft.js@4.0.4"></script> <!-- https://github.com/indutny/fft.js/ : used for generating distributions -->
{% endblock %}


{% block content %}
  <!-- plot -->
  <canvas id="RollResult" width="900" height="400"></canvas>
{% endblock %}

{% block script %}
  <script>
    const FFT = require("fft.js");
    // TODO: calculate probabilities based on weapon stats (assume T6, SV3+ for now)
    const targetStats = {
      toughness: 6,
      save: 3
    }

    const wpnStats = {
      attacks: "1",
      hitRoll: 4,
      strength: 6,
      ap: 1,
      damage: 1
    }

    // Distribution Generation Code
    // TODO: test input for fft()
    

    function calcAttacks(wpnStats) {

      const attacksStat = wpnStats.attacks.toUpperCase()
        .split(/D\+/) // split on 'D' or '+'
        .forEach((element, index, array) => {
          array[index] = element.trim();
        });
      
      // If the Attacks stat is a fixed number, return that number as the number of attacks
      if (attacksStat.length === 3) { // unmatched capturing groups are stored in the array as undefined
        return { [parseInt(attacksStat[0])]: 1 };
      }


      // Roll for number of attacks
      const numDice = parseInt(attacksStat[0]);
      const dieSides = parseInt(attacksStat[2]);  // captured group 'D' is stored at index 1
      if (attacksStat.length === 5) {
        const bonusAttacks = parseInt(attacksStat[4]); // captured group '+' is stored at index 3
      }
      else {
        const bonusAttacks = 0; // distribution will need to be shifted by numDice since the minimum roll for a die is 1, not 0
      }

      // Calculate distribution of number of attacks based on the number of dice and sides on the die using FFT
      // https://cp-algorithms.com/algebra/fft.html#applications  (all possible sums)

      // Preparing data for FFT

      const fftLength = Math.pow(2, Math.ceil(Math.log2(dieSides * numDice + 1)));
      const fft = new FFT(fftLength);
      var distArr = Array(fftLength).fill(0);
      for (let i = 0; i < dieSides; i++) {
        distArr[i+1] = 1 / dieSides; // probability of rolling each possible result on the die
      }

      var fftOutput = fft.createComplexArray(); // create an array to hold the FFT output
      fft.realTransform(fftOutput, distArr); // transform the distribution array to the frequency domain

      // Square each element of the transformed array
      const fftIntermediate = fft.createComplexArray().fill(1); // create an array to hold the intermediate results of the FFT multiplication
      fftIntermediate.forEach((value, index, self) => {
        for (let i = 0; i < numDice; i++) {
          self[index] = value * fftOutput[index]; // raise each element in fftOutput to the power of numDice to sum the dice
        }
      });

      fft.inverseTransform(fftOutput, fftIntermediate); // transform back to get the distribution of the sum of the dice
      fft.fromComplexArray(fftOutput, distArr); // convert the complex array back to a real array to get the final distribution

      // trim leading zero
      distArr.shift();
      // trim trailing zeros
      while (distArr[distArr.length - 1] === 0) {
        distArr.pop();
      }

      // convert distribution array to object with keys as number of attacks and values as probabilities
      const distribution = {};
      for (let i = 0; i < distArr.length; i++) {
        distribution[i + bonusAttacks] = distArr[i];
      }

      return distribution;
    }


    // Plot generation Code
    function separateLabelsAndData(rawData) {
      // {[rollResult: number]: number} -> {labels: string[], data: number[]}

      return Object.keys(rawData)
        .sort((a, b) => parseInt(a) - parseInt(b)) // sort keys in ascending numerical order
        .reduce(
          (obj, key) => {
            obj.labels.push(key);
            obj.values.push(rawData[key]);
            return obj;
          },
          { labels: [], values: [], cumulative: [] },
        ); // for each key in the sorted labels, push the label and corresponding value into the new object
    }

    function normalizeToPercentages(processedData) {
      const sum = processedData.values.reduce((currSum, next) => currSum + next);
      if (sum === 0) return processedData; // avoid division by zero
      processedData.values.forEach((value, index) => {
        processedData.values[index] = value * (100 / sum); // convert each value to percentage
      });
      return processedData;
    }

    function calculateCumulativeProbabilities(normalizedData) {
      normalizedData.values.reduceRight((sum, value, index) => {
        sum += value;
        normalizedData.cumulative[index] = sum; // cumulative probability of result >= current label
        return sum;
      }, 0);
      return normalizedData;
    }

    function constructChartData(finalData) {
      return {
        labels: finalData.labels,
        datasets: [
          {
            label: "probability of result = #",
            type: "bar",
            data: finalData.values,
            borderColor: "rgba(75, 192, 192, 1)",
            fill: false,
            yAxisID: "probability",
          },
          {
            label: "probability of result >= #",
            type: "line",
            data: finalData.cumulative,
            borderColor: "rgba(255, 99, 132, 1)",
            fill: false,
            yAxisID: "cumulative",
          },
        ],
      };
    }

    function configurePlotOptions() {
      return {
        responsive: false,
        scales: {
          x: {
            title: {
              display: true,
              text: "Roll Result",
            },
          },
          probability: {
            // y-axis for result probability
            title: {
              display: true,
              text: "Probability (%)",
            },
            position: "left",
            type: "linear",
            min: 0,
          },
          cumulative: {
            // y-axis for cumulative probability
            title: {
              display: true,
              text: "Probability of at least this result (%)",
            },
            position: "right",
            type: "linear",
            min: 0,
            max: 100,
            grid: {
              drawOnChartArea: false, // only want the grid lines for one axis to show up
            },
          },
        },
      };
    }

    function generatePlot(canvasId, rawData) {
      var ctx = document.getElementById(canvasId).getContext("2d");
      var newPlot = new Chart(ctx, {
        data: constructChartData(
          calculateCumulativeProbabilities(
            normalizeToPercentages(separateLabelsAndData(rawData)),
          ),
        ),
        options: configurePlotOptions(),
      });
    }

    // Generate Plot
    const data = calcAttacks(wpnStats);

    generatePlot("RollResult", data);
  </script>
{% endblock %}
